body {
    font-family: sans-serif;
    background-image: url("veggies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

button,
input {
    text-align: center;
    margin-left: 140px;
    padding: 9px;
}

h1 {
    font-size: 1.5rem;
}

section {
    border: solid grey;
    width: 45em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 240px;
    /*    color: mediumslateblue;
    */
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 8px;
}

.letters {
    display: inline-block;
    clear: both;
}

.questions,
.letters {}
